<div class="card">
  <div class="card-body">
    <h5 class="card-title">
      <i class="bi bi-activity text-primary"></i>
      Activité des 7 derniers jours
    </h5>
    <div class="chart-container" *ngIf="data && data.length > 0">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!"
        [stroke]="chartOptions.stroke!"
        [dataLabels]="chartOptions.dataLabels!"
        [legend]="chartOptions.legend!"
        [grid]="chartOptions.grid!"
        [colors]="chartOptions.colors!"
      ></apx-chart>
    </div>
    <div class="no-data" *ngIf="!data || data.length === 0">
      <i class="bi bi-inbox"></i>
      <p>Aucune donnée disponible</p>
    </div>
  </div>
</div>
