@use '../../../../../assets/styles/variables';

.client-edit-container {
  .loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
  }

  .form-container {
    max-width: 900px;
    margin: 0 auto;

    .card {
      box-shadow: variables.$box-shadow-sm;
    }
  }
}
