@use '../../../../../assets/styles/variables';

.project-create-container {
  .form-container {
    max-width: 1000px;
    margin: 0 auto;

    .card {
      box-shadow: variables.$box-shadow-sm;
    }
  }
}
