@use '../../../../../assets/styles/variables';

.task-create-container {
  .form-container {
    max-width: 900px;
    margin: 0 auto;

    .card {
      box-shadow: variables.$box-shadow-sm;
    }
  }
}
